.trandUniformMainSec{
    margin:40px 0 ;
}

.UniformCard{
    border:1px solid gray;
    height:310px;
    padding:5px;
}
.tradingHeading{
    color:#264653 ;
  font-weight: 700;
}
.ProductImg{
    height: 230px;
    margin: 5px;
    width:180px;
}

.detailSec h3{
   
    text-align: center;
    font-size: 16px;
   
}
.See-MoreBtn {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 400;
    color: black;
    background: transparent;
    border: 2px solid #616365 !important;
    cursor: pointer;
    overflow: hidden;
    z-index: 1; /* ensures text stays above ::before */
}

.See-MoreBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: brown;
    transition: width 1s ease-in-out;
    z-index: -1; /* sits behind text */
}

.See-MoreBtn:hover::before {
    width: 100%; /* expands smoothly */
}

.See-MoreBtn:hover {
    color: white !important;
    border: 2px solid brown !important; /* matches background */
}



.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 1;   /* 👈 Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

.detailSec p{
    text-align: center;
    font-size: 12px;
    

}
.icons{
    display: flex;
    gap:12px;
    text-align: center;
    justify-content: center;
}

@media (max-width: 768px){
    .trandUniformMainSec {
        margin: 10px 0;
    }
    .ProductImg {
        height: 200px;
        margin: 5px;
        width: 160px;
    }

    .UniformCard {
        width: 100%;
        border: 1px solid gray;
        height: 280px;
        padding: 5px;
    }
    .topTrandingCol{
        display: flex;
        justify-content: center;
    }
}
