.cartLeftTopSec1{
    margin:20px;
}
.RegisterBtn{
    background-color:brown;

    padding: 8px;
    margin:2px;
    border:none;
    color:rgb(255, 255, 255);
    border-radius: 10px;
}

.productName{
  color:brown;
  font-size: 14px;
  text-align: center;
}


.cartRightSec{
padding:50px;
}
.cartLeftAllSec{
    padding-top: 10px;
}

.productImage{
  width: 120px;
  height: 120px;
}


.cartBtn{
    padding: 8px 16px;
    color:white;
    background-color:brown;
    border:none;
    border-radius: 50%;
    margin: 10px;
}
.cartDetails p{
    margin-bottom:5px;
}

.btnRemove{
  border: none;
  background-color: brown;
  padding:10px;
  color:white;
}
.buttonSection{
  display:flex;
 flex-direction: column;
 gap: 12px;
}

.btnLater{
  border: none;
  background-color: brown;
  padding:12px;
  color:white;
}


  /* Target only the left scrollable section */
  .cartCardSection ::-webkit-scrollbar {
    display: none;
  }
  
  .cartCardSection  {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }


  @media (max-width:768px){
    .cartRightSec {
      border: 1px solid gray;
      border-radius: 25px;
      padding: 30px;
      margin-bottom: 10px;
  }

  .cartLeftAllSec {
    padding-top: 0px;
}


.cartLeftTopSe2{
  padding:0 20px;
}
  }